.root {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.right {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.right > *:not(:last-child) {
  margin-right: .8rem;
}
