asyncpgsa==0.13.0
asyncpg==0.9.0
sqlalchemy
alembic==0.9.8
aiohttp==1.0.5
aioauth-client==0.10.0
aiohttp_oauth==0.4.3
aiohttp_session==0.8.0
aiohttp_autoreload==0.0.1
aiohttp_index==0.1
psycopg2
uvloop
raven-aiohttp==0.5.0
pyresttest
jmespath
psycopg2
alembic
gunicorn
yarl==1.1.1

# dev stuff
coverage
flake8
pylint
pytest
pytest-cov



