.button {
  height: 32px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0px;
  padding: 4px 24px;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  line-height: 1.75;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 0px solid transparent;
  font-weight: 700;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.26);
}

